<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-back-button color="default"></ion-back-button>
    </ion-buttons>
    <ion-title color="default" >Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <div id="container">
    <p>Set a new password, make sure you use combinations of characters,uppercase,lowercase such as (.,@# 1,2,3,)</p>
    <br>
    <form (submit)="doupdatepassword()">
      <ion-item lines="full">
        <ion-label color="default" position="stacked">New Password</ion-label>
        <ion-input type="password" [(ngModel)]="pass" name="pass" placeholder="New Password">
        </ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label color="default" position="stacked">Confirm Password</ion-label>
        <ion-input type="password" [(ngModel)]="cpass" name="cpass" placeholder="Confirm Password">
        </ion-input>
      </ion-item>
      <ion-button type="submit" expand="block" color="default" class="ion-activatable ripple-parent"> Save
        <ion-ripple-effect>
        </ion-ripple-effect>
      </ion-button>

    </form>
  </div>


</ion-content>