#container {
   
    padding:10px;
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;

    color: #8c8c8c;

    margin: 0;
}

#container a {
    text-decoration: none;
}
:host {
    ion-item {
        margin: 0;
        padding: 0;
        --border-color: #f5f5f5;
    }
    .item-interactive.ion-invalid {
        --highlight-background: none !important;
    }
    .item-interactive.ion-valid {
        --highlight-background: none !important;
    }
}