$gray: #808080;
$white: #fff;
$secondary-color:#ffeaa7;
#container {
    padding: 10px 5px;
    text-align: center;
}
:host{
    ion-card{
        padding: 0;
        margin: 15px 5px 5px 5px !important;
        box-shadow: none;
        ion-card-subtitle{
            color: var(--ion-color-default-shade)
        }
        ion-card-title{
            font-size: 1.1rem;
        }

    }
}
#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;

    color: #8c8c8c;

    margin: 0;
}

#container a {
    text-decoration: none;
}
.new-toolbar-css {
   
    color: var(--ion-color-dark);

    .title {
        padding: 10px;
        color: var(--ion-color-dark);
    }
    ion-title {
        padding: 29px 10px !important;
        font-size: 24px !important;
        text-align: left !important;
    }
}
.white-bg{
    --background: $white !important;
    color: var(--ion-color-dark) !important;
    ion-title {
        padding: 10px 10px !important;
        font-size: 18px !important;
        text-align: left !important;
    }
}

.text-theme {
    color: #fff;
}

.menu_items {
    padding-top: 0px;

    ion-row {
        padding: 0 2px;

        ion-col {
            padding: 3px 4px;

            .item_box {
                background: var(--ion-color-default-tint);
                border-radius: 5px;
                padding: 15px;

                &.d-flex {
                    align-items: flex-start !important;
                }

                ion-icon {
                    font-size: 1.7rem;
                    min-width: 50px;
                    text-align: center;
                    position: relative;
                    top: 0px;
                    color: var(--ion-color-default-shade);
                }

                .text {
                    h2 {
                        margin: 0;
                        font-size: 1.2rem !important;
                        font-weight: 700;
                        color: var(--ion-color-default-shade);
                        padding-top: 4px;
                    }

                    p {
                        margin: 0;
                        font-size: 0.9rem;
                        font-weight: 400;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        color: var(--ion-color-default-shade) !important;
                    }
                    .upgrade {
                        position: absolute;
                        bottom: 0;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}
.card-css{
    background:var(--ion-color-default-tint) !important;
    color:$white !important;
    text-align: left;
    .item{
        border-color: var(--ion-color-default-tint);
    }

}
