<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="default"></ion-back-button>
    </ion-buttons>
    <ion-title color="default">Privacy Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <div id="container">
    <h2>Privacy Policy</h2>
    <p>This app uses cookies to improve your experience. We'll assume you're ok with this, but you can opt-out if you
      wish. </p>
    <p>We automatically track and collect the following categories of information when you visit our App:</p>
    <ul>
      <li> IP addresses;</li>
      <li> Geo Location</li>
      <li>types of devices accessing the App;</li>
    </ul>

    <p>Traffic Data is helpful for improving your experience on the App. We also use “cookies” to optimize the user
      experience. Our App provides access to educational content and ongoing educational services for you to use in
      connection with traffic
      generation and effective execution of marketing campaigns (collectively, the “Service”). In order for us to be
      able to contact you about your use of the App and Service, we require you to provide us with certain information
      that personally
      identifies you (“Personal Information”). Personal Information includes the following categories of information:
    </p>

    <li>Contact Data (such as your name, contact information, telephone number, email address, and login name);</li>

    <p>We may also (and you authorize us to) disclose your Personal Information to:</p>
    <ul>
      <li>comply with a court order or other legal process or inquiry;</li>
      <li>protect our rights or property;</li>
      <li> enforce our Terms and Conditions.</li>
    </ul>
    <p>Your Personal Information is stored on secure servers that are not accessible by third parties.
    </p>
    <h2>Terms & Agreement</h2>
    <p>IMPORTANT! THESE TERMS OF SERVICE (TOS) GOVERN YOUR USE OF THIS App, WHICH IS PROVIDED BY OUR COMPANY. BY
      ACCESSING THIS App, YOU ARE INDICATING YOUR ACKNOWLEDGMENT AND ACCEPTANCE OF THESE TERMS OF USE. THESE TERMS OF
      USE ARE SUBJECT TO CHANGE
      BY OUR COMPANY AT ANY TIME IN ITS DISCRETION. YOUR USE OF THIS App AFTER SUCH CHANGES ARE IMPLEMENTED CONSTITUTES
      YOUR ACKNOWLEDGMENT AND ACCEPTANCE OF THE CHANGES. PLEASE CONSULT THESE TERMS OF USE PRIOR TO EVERY USE FOR ANY
      CHANGES.</p>
    <p>TO ACCESS THIS App OR SOME OF THE RESOURCES IT HAS TO OFFER, YOU MAY BE ASKED TO PROVIDE CERTAIN REGISTRATION
      DETAILS OR OTHER INFORMATION. IT IS A CONDITION OF YOUR USE OF THIS App THAT ALL THE INFORMATION YOU PROVIDE ON
      THIS App WILL BE CORRECT,
      CURRENT, AND COMPLETE. IF OUR COMPANY BELIEVES THE INFORMATION YOU PROVIDE IS NOT CORRECT, CURRENT, OR COMPLETE,
      WE HAVE THE RIGHT TO REFUSE YOU ACCESS TO THIS App OR ANY OF ITS RESOURCES, AND TO TERMINATE OR SUSPEND YOUR
      ACCESS AT ANY TIME,
      WITHOUT NOTICE.</p>
    <p>TRADEMARKS, SERVICE MARKS, AND LOGOS APPEARING IN THIS App ARE THE PROPERTY OF COMPANY OR THE PARTY THAT PROVIDED
      THE TRADEMARKS, SERVICE MARKS, AND LOGOS TO COMPANY. COMPANY AND ANY PARTY THAT PROVIDED TRADEMARKS, SERVICE
      MARKS, AND LOGOS TO
      COMPANY RETAIN ALL RIGHTS WITH RESPECT TO ANY OF THEIR RESPECTIVE TRADEMARKS, SERVICE MARKS, AND LOGOS APPEARING
      IN THIS App.</p>

    <h2>License</h2>
    <p>This app is powered by BrightHubPro Ltd.</p>
  
  </div>

</ion-content>